<!doctype html>
<html ng-app>
  <head>
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />

    <!-- Include the AngularJS library -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  </head>
  <body data-ng-init="names=[{name:'John Smith',city:'Phoenix'}, {name:'John Doe',city:'New York'}, {name:'Jane Doe',city:'San Francisco'}]">
    Name:
    <br/>
    <input type="text" ng-model="name" /> {{ name }}
    <ul>
      <li data-ng-repeat="cust in names">{{ cust.name }} - {{ cust.city }}</li>
    </ul>

  </body>
</html>
