<!doctype html>
<html ng-app>
  <head>
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />

    <!-- Include the AngularJS library -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  </head>
  <body ng-init="names=['John Smith', 'John Doe', 'Jane Doe']">
    Name:
    <br/>
    <input type="text" ng-model="name" /> {{ name }}
    <ul>
      <li ng-repeat="personName in names">{{ personName }}</li>
    </ul>

  </body>
</html>
